body {
  font-family: 'Oxygen', sans-serif;
  background: lightblue;
}

.header-main {
  display: flex;
  justify-content: space-between;
  height: 7vh;
}

.home-products-name {
  display: flex;
  justify-content: center;
}

.header-logo {
  font-family: 'Beth Ellen', cursive;
}

.routes {
  display: flex;
  justify-content: center;
}

img {
  height: 100px;
  width: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-name {
  margin: 10px;
  font-size: 30px;
}

.product-category {
  margin: 10px;
  font-size: 20px;
}

.product-price {
  margin: 10px;
  font-size: 25px;
}

link {
  right-margin: 5px;
}